<service>
  <id>StockMcpService</id>
  <name>StockMcpService</name>
  <description>Private A-share MCP HTTP service and post-market scheduler.</description>
  <executable>__INSTALL_ROOT__\current\.venv\Scripts\python.exe</executable>
  <arguments>-m stock_mcp.service --root &quot;__INSTALL_ROOT__&quot;</arguments>
  <workingdirectory>__INSTALL_ROOT__\current</workingdirectory>
  <logpath>__INSTALL_ROOT__\logs</logpath>
  <stoptimeout>30 sec</stoptimeout>
  <log mode="roll-by-size-time"><sizeThreshold>10485760</sizeThreshold><pattern>yyyy-MM-dd</pattern><keepFiles>14</keepFiles></log>
  <onfailure action="restart" delay="30 sec" />
  <onfailure action="restart" delay="60 sec" />
  <onfailure action="none" />
</service>
